.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2f7a3e;  /* verde yerba */
  padding: 12px 20px;
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: 0.2s;
}

.nav-links a:hover {
  color: #d39b00; /* dorado */
}

.logo {
  font-weight: bold;
  font-size: 1.3rem;
}
